* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #333;
    color: #5e5e5e;
    padding-top: 0px;

}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;
    background-color: #161616;
}

.titulo {
    margin: 0;
}

.menu ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex;
    gap: 1rem; 
}

.menu a {
    text-decoration: none; 
    color: #ffffff; 
}

.menu a:hover {
    color: #ffffff; 
}


header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f0a500; 
}

/* Seções principais */
section {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
}

#home {
    background-image: url('fotodefundo.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 6rem 2rem;
    text-align: center;
}

#home p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 5px;
}

.foto-container {
    display: flex;
    justify-content: center; 
    gap: 2rem;
    margin-bottom: 2rem;
}

.foto-3x4 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Seção de projetos com flexbox */

#projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.titulo-centralizado {
    text-align: center; 
    display: block; 
    margin-bottom: 2rem; 
}

.projetos-container {
    display: flex;
    justify-content: center; 
    gap: 2rem; 
}

.projeto {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    flex: 1 1 300px; 
    max-width: 400px;
}

.video-container {
    background-color: rgb(235, 235, 235);
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1rem; 
    padding: 2rem;

}

.video-container iframe {
    width: 320px; /* Largura do vídeo */
    height: 180px; /* Altura do vídeo */
    border: 1px solid #ddd;
    border-radius: 10px;
}

.contato-container {
    padding-top: 0px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}
